node_modules/
*/node_modules
.env
storage_data/tmp/
dashboard/node_modules/
dashboard/.next/
storage_data/
storage_data/*
*.log
*.run.log
*.out.log
*.err.log
feishu-office/data/
nocobase/db_data/
outline/postgres/
outline/redis/
*/postgres/pgdata/
*/postgres/base/
