PORT=3012

DB_DATA_LOCATION=./data/postgres/pgdata
UPLOAD_LOCATION=./data/storage
CONFIG_LOCATION=./data/config

DB_USERNAME=affine
DB_PASSWORD=affine_local_password
DB_DATABASE=affine

AFFINE_REVISION=stable
